html {
  background: url('../images/blueprint-bw.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	background: none;
	height: 100vh;
}

img {
	width: 100%;
	height: auto;
}

table {
	width: 100%;
	height: 100%;
	margin: 7% auto 8% auto;
	text-align: center;
}

tr {
	width: 100%;
	height: 100%;
}

h1 {
	color: white;
	font-size: 80px;
	font-variant: small-caps;
  font-weight: bold;
	margin-bottom: 50px;
  font-family: 'Cabin Sketch', cursive;
  margin-top: 0;
}

h4 {
	color: white;
	font-family: 'Cabin', sans-serif;
  line-height: normal;
}

h5 {
	color: white;
}

.mainCell a {
	color: white;
	text-decoration: none;
	font-size: 36px;
	font-variant: small-caps;
	font-family: 'Cabin Sketch', cursive;
  font-weight: bold;
	border: 2px solid white;
	padding: 10px 20px;
  box-shadow: 5px 5px 5px #a2a2a2;
}

.mainCell a:hover {
  color: #1038b3;
  cursor:pointer;
  box-shadow: 5px 5px 5px #1038b3;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
}

.container-fluid {
	padding: 0;
}

.navbar-nav {
	float: right;
}

.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}

.row {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

.alignRight {
	float: right;
}

.mainCell {
	width: 33.33%;
	float: left;
}

#content {
	background-color: rgba(0,0,0,0.5);
	border: 5px white solid;
	margin-top: 5%;
	margin-bottom: 5%;
}

#mepic {
	display: inline-block;
	max-width: 25%;
	margin-left: 5%;
	margin-right: 5%;
}

#about {
	display: inline-block;
	width: 600px;
	text-align: left;
}

#mainCellRow {
	width: 100%;
	float: left;
	clear: both;
	margin: 10% auto 0 auto;
}

#footer {
  display: flex;
  align-content: stretch;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  background-color: black;
  text-align: right;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
