* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 8em;
  line-height: 1.15em;
  text-align: right;
  position: absolute;
  right: 20%;
}

h2 {
  font-family: 'Poiret One', cursive;
  font-size: 4em;
  line-height: 0.8em;
  text-align: center;
  order: 0;
  flex-grow: 1;
  min-width: 100%;
  margin-bottom: 60px;
}

h4 {
  flex: 0 1 70%;
}

h4, h6 {
  font-family: 'Raleway', sans-serif;
}

h6 {
  position: absolute;
  right: 20%;
}

footer {
  position: relative;
  background-color: #2290f5;
  height: 10em;
  padding: 2% 0;
}

footer h6 {
  bottom: 5%;
}

#main {
  transition: margin-right .5s;
  margin-right: 70px;
  overflow-x: hidden;
}

#top, #about, #skills, #resume, #projects, #contact, footer {
  color: #fff;
}

#about, #skills, #resume, #projects, #contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10% 20%;
}

#top {
  position: relative;
  background-color: #2290f5;
  height: 600px;
}

#top h1 {
  top: 10%;
}

#top h2 {
  position: absolute;
  text-decoration: none;
  text-align: left;
  bottom: 10%;
  left: 20%;
  margin: 0;
}

#background {
  background: url('../images/blueprint-bw.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
  background-color: rgba(8, 13, 52, 0.80);
}

#me {
  max-width: 25%;
  flex: 0 1 0;
}

#skills {
  background-color: #22f564;
}

#resume {
  background-color: #f5ad22;
}

#projects {
  background-color: #de22f5;
}

#contact {
  background-color: #fc5f5f;
}
/*NAVIGATION__________________________________________________________________*/
#navIcons, #navExpanded {
  color: #2290f5;
  font-family: 'Poiret One', cursive;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#navIcons {
    height: 100%; /* 100% Full-height */
    width: 72px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 60px; /* Place content 60px from the top */*/
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    /*text-align: center;*/
}

/* The navigation menu links */
div a, div p {
  color: inherit;
  flex: 1;
  align-self: center;
  padding: 0 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

div a {
  font-size: 4vh;
}

div p {
  font-size: 6vh;
}

/* When you mouse over the navigation links, change their color */
div a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

div a::after {
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Position and style the close button (top right corner) */
.navArrow {
  /*position: relative;
  top: 0;
  padding: 0;*/
  font-size: 36px;
  align-self: stretch;
  border-bottom: 2px solid #2290f5;
}

#navExpanded {
    height: 100%; /* 100% Full-height */
    width: 144px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 72px;
    background-color: #fff;
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 60px; /* Place content 60px from the top */*/
    /*transition: width 0.5s; /* 0.5 second transition effect to slide in the sidenav */*/
}

.navHide {
  transition: width 0.5s;
  width: 0 !important;
}

.navShow {
  transition: width 0.5s;
  text-align: center;
  /*border-top: 2px solid #2290f5;*/
}

.openNav {
    transform: rotate(720deg);
    transition: transform 0.3s linear;
}

.closeNav {
    transform: rotate(360deg);
    transition: transform 0.3s linear;
}

.mainAdjust {
  margin-right: 214px !important;
}

.active {
  color: #22f564;
}
/*@media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}
}*/
