/*NAVIGATION SIDE BAR*/
#navIcons, #navExpanded {
  height: 100%;
  color: #2290f5;
  background-color: #fff;
  font-family: 'Poiret One', cursive;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}
#navIcons {
  width: 72px;
  right: 0;
  transition: 0.5s;
}
#navExpanded {
  width: 144px;
  right: 72px;
}

nav div a, nav div p {
  color: inherit;
  flex: 1;
  align-self: center;
  padding: 0 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
nav div a {
  font-size: 4vh;
}
nav div p {
  font-size: 6vh;
}
nav div a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
nav div a::after {
  padding-bottom: 0;
  margin-bottom: 0;
}

.navArrow {
  font-size: 36px;
  align-self: stretch;
  border-bottom: 2px solid #2290f5;
}
.navHide {
  transition: width 0.5s;
  width: 0 !important;
}
.navShow {
  transition: width 0.5s;
  text-align: center;
}
.navOpen {
  transform: rotate(720deg);
  transition: transform 0.3s linear;
}
.navClose {
  transform: rotate(360deg);
  transition: transform 0.3s linear;
}
.mainAdjust {
  margin-right: 214px !important;
}
.active {
  color: #22f564;
}

/*BACK TO TOP BUTTON*/
#backtop {
  position: fixed;
  z-index: 1;
  left: 3%;
  bottom: 5px;
  text-decoration: none;
  text-align: center;
}
#backtop div {
  width: 48px;
  height: 36px;
  font-size: 30px;
  margin: 5px 0;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10%;
  transition: all 0.5s ease;
}
#backtop div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
